{% extends 'accounting/base.html.twig' %}

{% block body %}

    <h1>{{ 'title.transaction_export'|trans }}</h1>

    <div class="mt-4">
        <a href="{{ path('app_accounting_export',{export:1}) }}" class="btn btn-secondary">
            <i class="fas fa-fw fa-file-export"></i>
            {{ 'action.export'|trans }}
        </a>
    </div>

{% endblock %}
