{% extends 'accounting/base.html.twig' %}

{% block body %}

    <h1>{{ 'title.accounting'|trans }}</h1>

    <div class="row mt-4">
        <div class="col-12 col-xl-4">
            <a href="{{ path('app_accounting_transaction_index') }}" class="btn btn-outline-primary d-block">
                <i class="fas fa-fw fa-euro-sign"></i>
                {{ 'title.transaction_index'|trans }}
            </a>
        </div>
        <div class="col-12 col-xl-4">
            <a href="{{ path('app_accounting_export') }}" class="btn btn-outline-primary d-block">
                <i class="fas fa-fw fa-file-export"></i>
                {{ 'title.transaction_export'|trans }}
            </a>
        </div>
        <div class="col-12 col-xl-4">
            <a href="{{ path('app_accounting_report_financial') }}" class="btn btn-outline-primary d-block">
                <i class="fas fa-fw fa-table"></i>
                {{ 'title.accounting_financial_report'|trans }}
            </a>
        </div>
    </div>

{% endblock %}
