{% extends 'accounting/base.html.twig' %}

{% block body %}

    <h1>{{ 'title.accounting_financial_report'|trans }}</h1>

    {{ form_start(form) }}
    <div class="mt-4 row align-items-end">
        <div class="col-12 col-xl-2">
            {{ form_label(form.start) }}
            {{ form_widget(form.start) }}
        </div>
        <div class="col-12 col-xl-2">
            {{ form_label(form.end) }}
            {{ form_widget(form.end) }}
        </div>
        <div class="col-12 col-xl-2">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-fw fa-search"></i>
                {{ 'action.search'|trans }}
            </button>
        </div>
    </div>
    {{ form_end(form) }}

    <table class="table mt-4">
        <thead>
        <tr>
            <th>{{ 'field.category'|trans }}</th>
            <th>{{ 'field.credit'|trans }}</th>
            <th>{{ 'field.debit'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for result in report %}
            <tr>
                <td>{{ result.category }}</td>
                <td>
                    {{ (result.credit/100)|format_currency(app_currency) }}
                    <small class="ms-4 text-muted">{{ (result.credit/total.credit)|format_number(style='percent') }}</small>
                </td>
                <td>
                    {{ (result.debit/100)|format_currency(app_currency) }}
                    <small class="ms-4 text-muted">{{ (result.debit/total.debit)|format_number(style='percent') }}</small>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td>{{ (total.credit/100)|format_currency(app_currency) }}</td>
            <td>{{ (total.debit/100)|format_currency(app_currency) }}</td>
        </tr>
        </tfoot>
    </table>

{% endblock %}
