{% extends 'lesson/base.html.twig' %}

{% block body %}
    <div class="d-flex flex-row align-items-center">
        <h1 class="flex-grow-1">{{ lesson.startAt|format_datetime('full','short')|capitalize }}</h1>
        <div>
            <a href="{{ path('app_lesson_index') }}" class="btn btn-outline-secondary">
                <i class="fas fa-fw fa-backward"></i>
                {{ 'action.back'|trans }}
            </a>
        </div>
    </div>
    <div class="mt-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="mt-4">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-fw fa-check"></i>
                {{ 'action.save'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
