{% extends 'calendar/base.html.twig' %}

{% block body %}
    <div class="d-flex flex-row align-items-center">
        <h1 class="flex-grow-1">{{ date|format_date('full')|capitalize }}</h1>
        <div>
            <a href="#" class="btn btn-outline-secondary">
                <i class="fas fa-fw fa-calendar-alt"></i>
                {{ 'action.back'|trans }}
            </a>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="row mt-4">
        {% for formLesson in form.lessons %}
            <div class="col-12 col-xl-6">
                {{ form_widget(formLesson) }}
            </div>
        {% endfor %}
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-success">
            <i class="fas fa-fw fa-save"></i>
            {{ 'action.save'|trans }}
        </button>
    </div>
    {{ form_end(form) }}
{% endblock %}
