{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-5">
        <div class="col-4 offset-4">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <div>
                    <label for="username" class="form-label">{{ 'field.username'|trans }}</label>
                    <input type="text"
                           name="username"
                           id="username"
                           value="{{ last_username }}"
                           autocomplete="username"
                           required
                           autofocus
                           class="form-control">
                </div>
                <div class="mt-3">
                    <label for="password" class="form-label">{{ 'field.password'|trans }}</label>
                    <input type="password"
                           name="password"
                           id="password"
                           autocomplete="current-password"
                           required
                           class="form-control">
                </div>
                <div class="checkbox mt-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> {{ 'field.remember_me'|trans }}
                    </label>
                </div>
                <div class="mt-4">
                    <button class="btn btn-primary" type="submit">
                        {{ 'action.sign_in'|trans }}
                    </button>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>
        </div>
    </div>
{% endblock %}
