{% extends 'member/base.html.twig' %}

{% block body %}
    <div class="d-flex flex-row align-items-center">
        <h1 class="flex-grow-1">{{ 'title.member_list'|trans }}</h1>
        <div>
            <a href="{{ path('app_member_add') }}" class="btn btn-outline-primary">
                <i class="fas fa-fw fa-plus"></i>
                {{ 'action.add'|trans }}
            </a>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="mt-4 row align-items-end">
        <div class="col-12 col-xl-3">
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName) }}
        </div>
        <div class="col-12 col-xl-3">
            {{ form_label(form.lastName) }}
            {{ form_widget(form.lastName) }}
        </div>
        <div class="col-12 col-xl-3">
            {{ form_label(form.season) }}
            {{ form_widget(form.season) }}
        </div>
        <div class="col-12 col-xl-2">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-fw fa-search"></i>
                {{ 'action.search'|trans }}
            </button>
        </div>
    </div>
    {{ form_end(form) }}
    <table class="table table-hover mt-4">
        <thead>
        <tr>
            <th>{{ 'field.first_name'|trans }}
            <th>{{ 'field.last_name'|trans }}
            <th>{{ 'field.gender'|trans }}</th>
            <th>{{ 'field.age'|trans }}</th>
            <th>{{ 'field.city'|trans }}</th>
            <th>{{ 'field.rank'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr data-url="{{ path('app_member_show',{uuid:member.uuid}) }}">
                <td>{{ member.firstname }}</td>
                <td>{{ member.lastname }}</td>
                <td>{{ ('gender.'~member.gender)|trans }}</td>
                <td>{{ member.age }}</td>
                <td>{{ member.city }}</td>
                <td>
                    {% if member.lastPromotion %}
                        <img src="{{ asset(rank_image(member.lastPromotion.rank)) }}"
                             alt="Image"
                             title="{{ member.lastPromotion.rank.name }}&#10;{{ member.lastPromotion.rank.description }}"
                             class="border">
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="p-5 fst-italic text-center text-muted">{{ 'no_results'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include '_pagination.html.twig' with {pagination} only %}
{% endblock %}
