{% extends 'member/base.html.twig' %}

{% block body %}
    <div class="d-flex flex-row align-items-center">
        <h1 class="flex-grow-1">{{ 'title.member_show'|trans }} : {{ member }}</h1>
        <div>
            <a href="{{ path('app_member_index') }}" class="btn btn-outline-secondary">
                <i class="fa fa-fw fa-angle-double-left"></i>
                {{ 'action.back'|trans }}
            </a>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <p><strong>{{ member.firstName }} {{ member.lastName }}</strong></p>
                    <address>
                        {{ member.streetAddress }}<br/>
                        {{ member.postCode }} {{ member.city }}
                    </address>
                </div>
                <div class="col-6">
                    <div class="mb-3"><i
                                class="fa fa-fw fa-birthday-cake"></i> {{ member.birthday|format_date('long') }}</div>
                    {% if member.phone0 %}
                        <div><i class="fa fa-fw fa-phone"></i> {{ member.phone0 }}</div>{% endif %}
                    {% if member.phone1 %}
                        <div><i class="fa fa-fw fa-phone"></i> {{ member.phone1 }}</div>{% endif %}
                    {% if member.phone2 %}
                        <div><i class="fa fa-fw fa-phone"></i> {{ member.phone2 }}</div>{% endif %}
                    {% if member.phone3 %}
                        <div><i class="fa fa-fw fa-phone"></i> {{ member.phone3 }}</div>{% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <a href="{{ path('app_member_edit',{uuid:member.uuid}) }}" class="btn btn-outline-primary">
                <i class="fa fa-fw fa-edit"></i>
                {{ 'action.edit'|trans }}
            </a>
        </div>
    </div>
    <h2 class="mt-5">Présences</h2>
    <div class="row">
        {% for attendance in attendances %}
            <div class="m-1 col-1 p-1 text-center attendance-bg-{% if attendance.state==2 %}present{% elseif attendance.state==1 %}apologized{% else %}absent{% endif %}">
                {{ attendance.start_at|format_date('short') }}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12 col-xl-6">
            <h2 class="mt-5">Adhésions</h2>
            <table class="table mt-1">
                <thead>
                <tr>
                    <th>{{ 'field.season'|trans }}</th>
                    <th>{{ 'field.level'|trans }}</th>
                    <th>{{ 'field.number'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for membership in memberships %}
                    <tr data-url="{{ path('app_membership_edit',{uuid:membership.uuid}) }}">
                        <td>{{ membership.season.start|format_date('long') }}</td>
                        <td>{% if membership.level %}{{ membership.level.name }}{% endif %}</td>
                        <td>{{ membership.number }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="p-5 fst-italic text-center text-muted">{{ 'no_results'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                <a href="{{ path('app_membership_add',{memberUuid:member.uuid}) }}" class="btn btn-outline-primary">
                    <i class="fas fa-fw fa-plus"></i>
                    {{ 'action.add'|trans }}
                </a>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <h2 class="mt-5">Promotions</h2>
            <table class="table mt-1">
                <thead>
                <tr>
                    <th>{{ 'field.nomination_date'|trans }}</th>
                    <th>{{ 'field.rank'|trans }}</th>
                    <th>{{ 'field.description'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for promotion in promotions %}
                    <tr data-url="{{ path('app_promotion_edit',{uuid:promotion.uuid}) }}">
                        <td>{{ promotion.nominationDate|format_date('full')|capitalize }}</td>
                        <td>{{ promotion.rank.name }}</td>
                        <td><small class="text-muted">{{ promotion.rank.description }}</small></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="p-5 fst-italic text-center text-muted">{{ 'no_results'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                <a href="{{ path('app_promotion_add',{memberUuid:member.uuid}) }}" class="btn btn-outline-primary">
                    <i class="fas fa-fw fa-plus"></i>
                    {{ 'action.add'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
