{% block _transaction_edit_details_widget %}
    <tbody id="{{ form.vars.id }}"
           data-index="{{ form|length>0?form|last.vars.name+1:0 }}"
           data-prototype="{{ form_widget(form.vars.prototype)|e('html_attr') }}">
    {% for child in form %}
        <tr>
            {{ form_widget(child) }}
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}

{% block _transaction_edit_details_entry_widget %}
    {{ form_errors(form) }}
    <tr>
        <td>{{ form_widget(form.category) }}</td>
        <td>{{ form_widget(form.amountInCents) }}</td>
        <td>{{ form_widget(form.comment) }}</td>
        <td>
            <button type="button" class="btn btn-danger transaction_detail_delete">
                <i class="fas fa-fw fa-trash"></i>
                {{ 'action.delete'|trans }}
            </button>
        </td>
    </tr>
{% endblock %}
