{% extends 'accounting/base.html.twig' %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{% block body %}
    <div class="d-flex flex-row align-items-center">
        <h1 class="flex-grow-1">{{ 'title.transaction_add'|trans }}</h1>
        <div>
            <a href="{{ path('app_accounting_transaction_index') }}" class="btn btn-outline-secondary">
                <i class="fas fa-fw fa-list"></i>
                {{ 'action.back'|trans }}
            </a>
        </div>
    </div>
    <div class="mt-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="mt-4">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-fw fa-save"></i>
                {{ 'action.save'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>
    <datalist id="bank_names">
        {% for bankName in bankNames %}
            <option>{{ bankName }}</option>
        {% endfor %}
    </datalist>
    <datalist id="third_names">
        {% for thirdName in thirdNames %}
            <option>{{ thirdName }}</option>
        {% endfor %}
    </datalist>
{% endblock %}
