{% extends 'accounting/base.html.twig' %}

{% block body %}
    <div class="d-flex flex-row align-items-center">
        <h1 class="flex-grow-1">{{ 'title.transaction_edit'|trans }}</h1>
        <div>
            <a href="{{ path('app_accounting_transaction_edit',{uuid:transaction.uuid}) }}"
               class="btn btn-outline-secondary">
                <i class="fas fa-fw fa-list"></i>
                <span class="d-none d-md-inline">{{ 'action.back'|trans }}</span>
            </a>
        </div>
    </div>
    <div class="mt-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="mt-4">
            <button type="submit" class="btn btn-danger">
                <i class="fas fa-fw fa-trash"></i>
                {{ 'action.delete'|trans }}
            </button>
            <a href="{{ path('app_accounting_transaction_edit',{uuid:transaction.uuid}) }}"
               class="btn btn-outline-secondary">
                <i class="fas fa-fw fa-times"></i>
                {{ 'action.cancel'|trans }}
            </a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
