{% extends 'accounting/base.html.twig' %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}
{% form_theme form.details 'accounting/transaction/_fields.html.twig' %}

{% block body %}
    <div class="d-flex flex-row align-items-center">
        <h1 class="flex-grow-1">{{ 'title.transaction_edit'|trans }}</h1>
        <div>
            <a href="{{ path('app_accounting_transaction_index') }}" class="btn btn-outline-secondary">
                <i class="fas fa-fw fa-list"></i>
                <span class="d-none d-md-inline">{{ 'action.back'|trans }}</span>
            </a>
        </div>
    </div>
    <div class="mt-4">
        {{ form_start(form) }}
        {{ form_row(form.dateOperation) }}
        {{ form_row(form.dateValue) }}
        {{ form_row(form.amountInCents) }}
        {{ form_row(form.paymentMethod) }}
        {{ form_row(form.operationNumber) }}
        {{ form_row(form.thirdName) }}
        {{ form_row(form.bankName) }}
        {{ form_row(form.comment) }}
        <h4 class="mt-4">{{ 'title.details'|trans }}</h4>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'field.category'|trans }}</th>
                <th>{{ 'field.amount'|trans }}</th>
                <th>{{ 'field.comment'|trans }}</th>
            </tr>
            </thead>
            {{ form_widget(form.details) }}
        </table>
        <div>
            <button type="button" class="btn btn-primary" id="transaction_detail_add">
                <i class="fas fa-fw fa-plus"></i>
                {{ 'action.add'|trans }}
            </button>
        </div>
        <div class="mt-5">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-fw fa-save"></i>
                {{ 'action.save'|trans }}
            </button>
            <button type="submit" class="btn btn-success" name="save_and_close">
                <i class="fas fa-fw fa-save"></i>
                {{ 'action.save_and_close'|trans }}
            </button>
            <a href="{{ path('app_accounting_transaction_delete',{uuid:transaction.uuid}) }}"
               class="btn btn-outline-danger">
                <i class="fas fa-fw fa-trash"></i>
                {{ 'action.delete'|trans }}
            </a>
            <a href="{{ path('app_accounting_transaction_index') }}" class="btn btn-outline-secondary">
                <i class="fas fa-fw fa-times"></i>
                {{ 'action.cancel'|trans }}
            </a>
        </div>
        {{ form_end(form) }}
    </div>
    <datalist id="bank_names">
        {% for bankName in bankNames %}
            <option>{{ bankName }}</option>
        {% endfor %}
    </datalist>
    <datalist id="categories">
        {% for category in categories %}
            <option>{{ category }}</option>
        {% endfor %}
    </datalist>
    <datalist id="third_names">
        {% for thirdName in thirdNames %}
            <option>{{ thirdName }}</option>
        {% endfor %}
    </datalist>
{% endblock %}
