{% extends 'accounting/base.html.twig' %}

{% block body %}
    <div class="d-flex flex-row align-items-center">
        <h1 class="flex-grow-1">{{ 'title.transaction_index'|trans }}</h1>
        <div>
            <a href="{{ path('app_accounting_transaction_add') }}" class="btn btn-outline-primary">
                <i class="fas fa-fw fa-plus"></i>
                {{ 'action.add'|trans }}
            </a>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="mt-4 row align-items-end">
        <div class="col-12 col-xl-3">
            {{ form_label(form.category) }}
            {{ form_widget(form.category) }}
        </div>
        <div class="col-12 col-xl-3">
            {{ form_label(form.thirdName) }}
            {{ form_widget(form.thirdName) }}
        </div>
        <div class="col-12 col-xl-2">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-fw fa-search"></i>
                {{ 'action.search'|trans }}
            </button>
        </div>
    </div>
    <datalist id="categories">
        {% for category in categories %}
            <option>{{ category }}</option>
        {% endfor %}
    </datalist>
    <datalist id="third_names">
        {% for third_name in third_names %}
            <option>{{ third_name }}</option>
        {% endfor %}
    </datalist>
    {{ form_end(form) }}
    <table class="table mt-4">
        <thead>
        <tr>
            <th>{{ 'field.date_operation'|trans }}</th>
            <th>{{ 'field.date_value'|trans }}</th>
            <th>{{ 'field.amount'|trans }}</th>
            <th>{{ 'field.third_name'|trans }}</th>
            <th>{{ 'field.payment_method'|trans }}</th>
            <th>{{ 'field.operation_number'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            {% set class=transaction.amountInCents<0?'text-danger':'' %}
            <tr>
                <td>{{ transaction.dateOperation|format_date('short') }}</td>
                <td>{% if transaction.dateValue %}{{ transaction.dateValue|format_date('short') }}{% endif %}</td>
                <td class="{{ class }}">{{ (transaction.amountInCents/100)|format_currency(app_currency) }}</td>
                <td>{{ transaction.thirdName }}</td>
                <td>{{ transaction.paymentMethod.name }}</td>
                <td>{{ transaction.operationNumber }}</td>
                <td>
                    <a href="{{ path('app_accounting_transaction_edit',{uuid:transaction.uuid}) }}"
                       class="btn btn-sm btn-outline-primary">
                        <i class="fas fa-fw fa-edit"></i>
                        {{ 'action.edit'|trans }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" class="p-5 fst-italic text-center text-muted">{{ 'no_results'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include '_pagination.html.twig' with {pagination} only %}
{% endblock %}
