{% extends 'statistics/base.html.twig' %}

{% block body %}
    <h1>{{ 'title.statistics'|trans }}</h1>
    <div class="row mt-5">
        <div class="col-12 col-sm-3">
            <a href="{{ path('app_statistics_theme') }}"
               class="d-block p-3 text-black text-center text-decoration-none border">
                {{ 'title.statistics_themes'|trans }}
            </a>
        </div>
        <div class="col-12 col-sm-3">
            <a href="{{ path('app_statistics_city') }}"
               class="d-block p-3 text-black text-center text-decoration-none border">
                {{ 'title.statistics_cities'|trans }}
            </a>
        </div>
        <div class="col-12 col-sm-3">
            <a href="{{ path('app_statistics_membership_evolution') }}"
               class="d-block p-3 text-black text-center text-decoration-none border">
                {{ 'title.statistics_membership_evolution'|trans }}
            </a>
        </div>
        <div class="col-12 col-sm-3">
            <a href="{{ path('app_statistics_membership_number') }}"
               class="d-block p-3 text-black text-center text-decoration-none border">
                {{ 'title.statistics_membership_number'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
