{% extends 'statistics/base.html.twig' %}

{% block body %}
    <div class="d-flex flex-row">
        <h1 class="flex-grow-1">{{ 'title.statistics_membership_evolution'|trans }}</h1>
        <div>
            <a href="{{ path('app_statistics_index') }}" class="btn btn-outline-secondary">
                <i class="fas fa-fw fa-times"></i>
                {{ 'action.back'|trans }}
            </a>
        </div>
    </div>
    <div class="mt-4">
        {{ render_chart(chart) }}
    </div>
{% endblock %}
