{% extends 'statistics/base.html.twig' %}

{% block body %}
    <div class="d-flex flex-row">
        <h1 class="flex-grow-1">{{ 'title.statistics_membership_number'|trans }}</h1>
        <div>
            <a href="{{ path('app_statistics_index') }}" class="btn btn-outline-secondary">
                <i class="fas fa-fw fa-times"></i>
                {{ 'action.back'|trans }}
            </a>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="mt-4 row align-items-end">
        <div class="col-12 col-xl-2">
            {{ form_label(form.season) }}
            {{ form_widget(form.season) }}
        </div>
        <div class="col-12 col-xl-2">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-fw fa-search"></i>
                {{ 'action.search'|trans }}
            </button>
        </div>
    </div>
    <table class="table mt-4">
        <thead>
        <tr>
            <th>{{ 'misc.age_bracket'|trans }}</th>
            <th>{{ 'field.gender'|trans }}</th>
            <th>{{ 'misc.total'|trans }}</th>
            <th>{{ 'misc.ratio'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
            <tr>
                <td>{{ ('age_bracket.'~result.age_bracket)|trans }}</td>
                <td>{{ ('gender.'~result.gender)|trans }}</td>
                <td>{{ result.total }}</td>
                <td>{{ (result.total/total)|format_number(style='percent') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
