{% extends 'season/base.html.twig' %}

{% block body %}
    <div class="d-flex flex-row align-items-center">
        <h1 class="flex-grow-1">{{ 'title.season_add'|trans }}</h1>
        <div>
            <a href="{{ path('app_season_index') }}" class="btn btn-outline-secondary">
                <i class="fas fa-fw fa-list"></i>
                {{ 'action.back'|trans }}
            </a>
        </div>
    </div>
    <div class="mt-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="mt-4">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-fw fa-save"></i>
                {{ 'action.save'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
