{% extends 'season/base.html.twig' %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{% block body %}
    <h1 class="flex-grow-1">{{ 'title.season_edit'|trans }}</h1>
    <div class="mt-4">
        {{ form_start(form) }}
        <div class="card">
            <div class="card-body">
                {{ form_widget(form) }}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-fw fa-save"></i>
                    {{ 'action.save'|trans }}
                </button>
                <a href="{{ path('app_season_delete',{uuid:season.uuid}) }}" class="btn btn-outline-danger">
                    <i class="fas fa-fw fa-trash"></i>
                    {{ 'action.delete'|trans }}
                </a>
                <a href="{{ path('app_season_index') }}" class="btn btn-outline-secondary">
                    <i class="fas fa-fw fa-times"></i>
                    {{ 'action.cancel'|trans }}
                </a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
