{% extends 'season/base.html.twig' %}

{% block body %}
    <div class="d-flex flex-row align-items-center">
        <h1 class="flex-grow-1">{{ 'title.seasons'|trans }}</h1>
        <div>
            <a href="{{ path('app_season_add') }}" class="btn btn-outline-primary">
                <i class="fas fa-fw fa-plus"></i>
                {{ 'action.add'|trans }}
            </a>
        </div>
    </div>
    <table class="table mt-4">
        <thead>
        <tr>
            <th>{{ 'field.start'|trans }}</th>
            <th>{{ 'field.end'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr data-url="{{ path('app_season_edit',{uuid:season.uuid}) }}">
                <td>{{ season.start|format_date('full')|capitalize }}</td>
                <td>{{ season.end|format_date('full')|capitalize }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
