{% extends 'param/base.html.twig' %}

{% block body %}
    <div class="d-flex flex-row align-items-center">
        <h1 class="flex-grow-1">{{ 'title.rank_list'|trans }}</h1>
        <div>
            <a href="{{ path('app_param_rank_add') }}" class="btn btn-outline-primary">
                <i class="fas fa-fw fa-plus"></i>
                {{ 'action.add'|trans }}
            </a>
        </div>
    </div>
    <table class="table table-hover mt-4">
        <thead>
        <tr>
            <th>{{ 'field.name'|trans }}
            <th>{{ 'field.description'|trans }}
            <th>{{ 'field.lessons'|trans }}
            <th>{{ 'field.age_min'|trans }}
            <th>{{ 'field.age_max'|trans }}
            <th>{{ 'field.image'|trans }}
        </tr>
        </thead>
        <tbody>
        {% for rank in ranks %}
            <tr data-url="{{ path('app_param_rank_edit',{uuid:rank.uuid}) }}">
                <td>{{ rank.name }}</td>
                <td>{{ rank.description }}</td>
                <td>{{ rank.lessons }}</td>
                <td>{{ rank.ageMin }}</td>
                <td>{{ rank.ageMax }}</td>
                <td><img src="{{ asset(rank_image(rank)) }}" alt="Image" class="border"></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="p-5 fst-italic text-center text-muted">{{ 'no_results'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
