{% extends 'accounting/base.html.twig' %}

{% block body %}
    <h1>{{ 'title.promotion_delete'|trans }}</h1>
    <div class="mt-4">
        {{ form_start(form) }}
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-4 col-xl-2">{{ 'field.member'|trans }}</div>
                    <div class="col-8 col-xl-10">{{ promotion.member }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-4 col-xl-2">{{ 'field.rank'|trans }}</div>
                    <div class="col-8 col-xl-10">{{ promotion.rank }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-4 col-xl-2">{{ 'field.nomination_date'|trans }}</div>
                    <div class="col-8 col-xl-10">{{ promotion.nominationDate|format_date('full')|capitalize }}</div>
                </div>
                {{ form_widget(form) }}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-fw fa-trash"></i>
                    {{ 'action.delete'|trans }}
                </button>
                <a href="{{ path('app_promotion_edit',{uuid:promotion.uuid}) }}"
                   class="btn btn-outline-secondary">
                    <i class="fas fa-fw fa-times"></i>
                    {{ 'action.cancel'|trans }}
                </a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
