@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

tr[data-url]:hover {
  background-color: aliceblue;
  cursor: pointer;
}

form[name="lesson_date"] {
  .lesson_attendances > div {
    input[type=radio] {
      display: none;

      ~ label {
        display: block;
        padding: 0.5em;
        text-align: center;
        background-color: #eee;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      &[value="1"]:checked ~ label {
        background-color: palegoldenrod;
      }

      &[value="2"]:checked ~ label {
        background-color: lightgreen;
      }
    }
  }

  .lesson_themes > div {
    input[type=checkbox] {
      display: none;

      ~ label {
        display: block;
        padding: 0.5em;
        text-align: center;
        background-color: #eee;
        cursor: pointer;
      }

      &:checked ~ label {
        color: white;
        background-color: palevioletred;
      }
    }
  }
}

.attendance-bg-absent {
  color: silver;
  background-color: #fafafa;
}

.attendance-bg-apologized {
  background-color: palegoldenrod;
}

.attendance-bg-present {
  background-color: lightgreen;
}
