{% block _lesson_date_lessons_entry_widget %}
    {{ form_row(form.attendances) }}
    {{ form_row(form.themes) }}
    {{ form_row(form.comment) }}
    <div>
        <a href="{{ path('app_lesson_delete',{uuid:form.vars.value.uuid}) }}" class="btn btn-sm btn-outline-danger">
            <i class="fas fa-trash"></i>
            {{ 'action.delete'|trans }}
        </a>
    </div>
{% endblock %}

{% block _lesson_date_lessons_entry_attendances_row %}
    <div class="row lesson_attendances mb-3">
        {% for child in form %}
            <div class="col-12 col-sm-6 mt-3">
                {% for state in child.state %}
                    {{ form_widget(state) }}
                {% endfor %}
                <label>{{ child.vars.value.member }}</label>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block _lesson_date_lessons_entry_attendances_entry_state_entry_widget %}
    <input type="radio"
            {{ block('widget_attributes') }}
           value="{{ form.vars.value }}"
            {% if checked %}checked{% endif %}>
{% endblock %}

{% block _lesson_date_lessons_entry_themes_row %}
    <div class="row lesson_themes mb-3">
        {% for child in form %}
            <div class="col-12 col-sm-6 mt-3">
                <input type="checkbox"
                       name="{{ child.vars.full_name }}"
                       value="{{ child.vars.value }}"
                       id="{{ child.vars.id }}"
                       {% if child.vars.value in form.vars.value %}checked{% endif %}>
                <label for="{{ child.vars.id }}"
                       class="text-truncate overflow-hidden">
                    {{ child.vars.label }}
                </label>
            </div>
        {% endfor %}
    </div>
{% endblock %}
