{% extends 'lesson/base.html.twig' %}

{% form_theme form 'lesson/_fields.html.twig' %}

{% block body %}
    <h1>{{ 'title.lesson'|trans }} &raquo; {{ date|format_date('full')|capitalize }}</h1>
    {{ form_start(form) }}
    <div class="row mt-4">
        {% for lesson in form.lessons %}
            <div class="col-12 col-xl-6">
                <div class="p-2 fw-bold text-white bg-primary">
                    {{ lesson.vars.value.startAt|format_time('short') }}
                    &ndash;
                    {{ lesson.vars.value.levels|join(',') }}
                </div>
                {{ form_widget(lesson) }}
            </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-success">
            <i class="fas fa-fw fa-save"></i>
            {{ 'action.save'|trans }}
        </button>
        <a href="{{ path('app_lesson_index') }}" class="btn btn-outline-secondary ms-5">
            <i class="fas fa-fw fa-times"></i>
            {{ 'action.cancel'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}
