{% extends 'lesson/base.html.twig' %}

{% block body %}
    <h1>{{ 'title.lesson_delete'|trans }}</h1>
    <div class="mt-4">
        {{ form_start(form) }}
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-4 col-xl-2">{{ 'field.date'|trans }}</div>
                    <div class="col-8 col-xl-10">{{ lesson.startAt|format_datetime }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-4 col-xl-2">{{ 'field.levels'|trans }}</div>
                    <div class="col-8 col-xl-10">{{ lesson.levels|join(', ') }}</div>
                </div>
                {{ form_widget(form) }}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-fw fa-trash"></i>
                    {{ 'action.delete'|trans }}
                </button>
                <a href="{{ path('app_lesson_date',{date:lesson.startAt|date('Y-m-d')}) }}"
                   class="btn btn-outline-secondary">
                    <i class="fas fa-fw fa-times"></i>
                    {{ 'action.cancel'|trans }}
                </a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
