{% extends 'lesson/base.html.twig' %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{% block body %}
    <h1>{{ 'title.lesson_edit'|trans }}</h1>
    {{ form_start(form) }}
    <div class="card mt-4">
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-fw fa-save"></i>
                {{ 'action.save'|trans }}
            </button>
            <a href="{{ path('app_lesson_index') }}" class="btn btn-outline-secondary">
                <i class="fas fa-fw fa-times"></i>
                {{ 'action.cancel'|trans }}
            </a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
