{% extends 'lesson/base.html.twig' %}

{% block body %}
    <h1>{{ 'title.lesson_list'|trans }} &raquo; {{ season }}</h1>
    <div class="row mt-4">
        {% for month in calendar.months %}
            <div class="col-12 col-xl-3">
                <table class="table">
                    {% set firstDay=month.firstDay %}
                    <caption class="caption-top">{{ firstDay|date('F') }} {{ firstDay|date('Y') }}</caption>
                    <thead>
                    <tr>
                        <th>{{ 'day.monday'|trans|capitalize|slice(0,2) }}</th>
                        <th>{{ 'day.tuesday'|trans|capitalize|slice(0,2) }}</th>
                        <th>{{ 'day.wednesday'|trans|capitalize|slice(0,2) }}</th>
                        <th>{{ 'day.thursday'|trans|capitalize|slice(0,2) }}</th>
                        <th>{{ 'day.friday'|trans|capitalize|slice(0,2) }}</th>
                        <th>{{ 'day.saturday'|trans|capitalize|slice(0,2) }}</th>
                        <th>{{ 'day.sunday'|trans|capitalize|slice(0,2) }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for week in month.weeks %}
                        <tr>
                            {% for day in week.days %}
                                {% set class='p-0' %}
                                {% if day and day.equals('now') %}
                                    {% set class=class~' bg-warning' %}
                                {% elseif day and day.date|date('Y-m-d') in daysWithLesson %}
                                    {% set class=class~' bg-info' %}
                                {% endif %}
                                <td class="{{ class }}">
                                    {% if day %}
                                        <a href="{{ path('app_lesson_date',{date:day.date|date('Y-m-d')}) }}"
                                           class="d-block p-2 text-black text-center text-decoration-none">
                                            {{ day.date|date('j') }}
                                        </a>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}
