{% set activeMenu=activeMenu|default('dashboard') %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a href="{{ path('app_dashboard') }}" class="navbar-brand">{{ app_name }}</a>
        <button type="button"
                class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbarPrimary"
                aria-controls="navbarPrimary"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarPrimary">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="{{ path('app_dashboard') }}"
                       class="nav-link{% if activeMenu=='dashboard' %} active{% endif %}" aria-current="page">
                        {{ 'menu.dashboard'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_lesson_index') }}"
                       class="nav-link{% if activeMenu=='lesson' %} active{% endif %}">
                        {{ 'menu.lessons'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_member_index') }}"
                       class="nav-link{% if activeMenu=='member' %} active{% endif %}">
                        {{ 'menu.members'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_accounting_index') }}"
                       class="nav-link{% if activeMenu=='accounting' %} active{% endif %}">
                        {{ 'menu.accounting'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_statistics_index') }}"
                       class="nav-link{% if activeMenu=='statistics' %} active{% endif %}">
                        {{ 'menu.statistics'|trans }}
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navParam" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ 'menu.params'|trans }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navParam">
                            <li>
                                <a href="{{ path('app_season_index') }}" class="dropdown-item">
                                    {{ 'menu.seasons'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_param_rank_index') }}" class="dropdown-item">
                                    {{ 'menu.ranks'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_user_index') }}" class="dropdown-item">
                                    {{ 'menu.users'|trans }}
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{{ path('app_logout') }}" class="nav-link">
                        {{ 'menu.logout'|trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
