{% if pagination.totalPages>1 %}
    <nav class="mt-4">
        <ul class="pagination">
            {% if pagination.previousPageAvailable %}
                <li class="page-item">
                    <a href="{{ path(pagination.route,{page:0}|merge(pagination.queryString)) }}" class="page-link">
                        {{ 'navigation.first'|trans }}
                    </a>
                </li>
                <li class="page-item">
                    <a href="{{ path(pagination.route,{page:pagination.currentPage-1}|merge(pagination.queryString)) }}"
                       class="page-link">
                        {{ 'navigation.previous'|trans }}
                    </a>
                </li>
            {% endif %}
            {% for page in pagination %}
                <li class="page-item{% if pagination.currentPage==page %} active{% endif %}">
                    <a href="{{ path(pagination.route,{page:page}|merge(pagination.queryString)) }}"
                       class="page-link">{{ page+1 }}</a>
                </li>
            {% endfor %}
            {% if pagination.nextPageAvailable %}
                <li class="page-item">
                    <a href="{{ path(pagination.route,{page:pagination.currentPage+1}|merge(pagination.queryString)) }}"
                       class="page-link">
                        {{ 'navigation.next'|trans }}
                    </a>
                </li>
                <li class="page-item">
                    <a href="{{ path(pagination.route,{page:pagination.lastPage}|merge(pagination.queryString)) }}"
                       class="page-link">
                        {{ 'navigation.last'|trans }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
