{% extends 'base.html.twig' %}

{% block body %}

    {% if nextBirthdays %}
        <h2>{{ 'title.next_birthdays'|trans }}</h2>
        <div class="row mb-4">
            {% for member in nextBirthdays %}
                <div class="col-3 mt-3">
                    <div class="card">
                        <div class="card-header">{{ member }}</div>
                        <div class="card-body">
                            <div>
                                <i class="fas fa-fw fa-calendar-alt"></i>
                                {{ member.birthday|format_date('long') }}
                            </div>
                            <div>
                                <i class="fas fa-fw fa-birthday-cake"></i>
                                {{ member.age }} {{ 'misc.years'|trans }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if lessons_without_attendances|length>0 %}
        <h2>{{ 'title.lessons_without_attendances'|trans }}</h2>
        <div class="row">
            {% for lesson in lessons_without_attendances %}
                <div class="col-3 mt-3">
                    <div class="card">
                        <div class="card-body">
                            {{ lesson.startAt|format_datetime('full','short')|capitalize }}<br>
                            {{ lesson.levels|join(', ') }}
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('app_lesson_date',{date:lesson.startAt|date('Y-m-d')}) }}"
                               class="btn btn-sm btn-outline-primary">
                                <i class="fas fa-fw fa-eye"></i>
                                {{ 'action.show'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
