{% extends 'user/base.html.twig' %}

{% block body %}
    <div class="d-flex flex-row align-items-center">
        <h1 class="flex-grow-1">{{ 'title.user_add'|trans }}</h1>
        <div>
            <a href="{{ path('app_user_index') }}" class="btn btn-outline-secondary">
                <i class="fas fa-fw fa-times"></i>
                {{ 'action.back'|trans }}
            </a>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="card mt-3">
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-fw fa-save"></i>
                {{ 'action.save'|trans }}
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
