{% extends 'user/base.html.twig' %}

{% block body %}
    <div class="d-flex flex-row align-items-center">
        <h1 class="flex-grow-1">{{ 'title.user_list'|trans }}</h1>
        <div>
            <a href="{{ path('app_user_add') }}" class="btn btn-outline-primary">
                <i class="fas fa-fw fa-plus"></i>
                {{ 'action.add'|trans }}
            </a>
        </div>
    </div>
    <table class="table table-hover mt-3">
        <thead>
        <tr>
            <th>{{ 'field.username'|trans }}</th>
            <th>{{ 'field.admin'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr data-url="{{ path('app_user_edit',{uuid:user.uuid}) }}">
                <td>{{ user.username }}</td>
                <td>
                    {% if user.admin %}
                        <i class="fas fa-fw fa-check text-success"></i> {{ 'misc.yes'|trans }}
                    {% else %}
                        <i class="fas fa-fw fa-times text-danger"></i> {{ 'misc.no'|trans }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2" class="p-5 fst-italic text-center text-muted">{{ 'no_results'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
